
.led-box {
    height: 15px;
    margin: 3px 0;
    float: right;
}

.led-on {
    margin: 0 auto;
    width: 12px;
    height: 12px;
    background-color: #ABFF00;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
    animation: blinkGreen 0.5s infinite;
}

.led-off {
    margin: 0 auto;
    width: 12px;
    height: 12px;
    background-color: #304701;
    border-radius: 50%;
}

@keyframes blinkGreen {
    from { background-color: #ABFF00; }
    50% { background-color: #496f01; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #ABFF00 0 0 0; }
    to { background-color: #ABFF00; }
}
